[Unit]
Description=hmland
After=syslog.target network.target 

[Service]
#Type=forking
WorkingDirectory=/opt/hmcfgusb
ExecStart=/opt/hmcfgusb/hmland -p 1234
User=fhem

[Install]
WantedBy=multi-user.target
